@inject HttpClient Http
<link href="apiconsumer.razor.css" rel="stylesheet" />

@code {
    private List<Product> productos = new List<Product>();
    private List<string> categorias = new List<string>();
    private string categoriaseleccionada = null;
    private bool cargando = true;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var response = await Http.GetFromJsonAsync<List<Product>>("https://fakestoreapi.com/products");
            if (response != null)
            {
                productos = response;
                categorias = productos.Select(p => p.category).Distinct().ToList();
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error {ex.Message}");
        }
        cargando = false;
    }

    private void FiltrarCategoria(string category)
    {
        categoriaseleccionada = category;
    }

    private bool MatchDeCategoria(Product product)
    {
        return categoriaseleccionada == null || product.category == categoriaseleccionada;
    }
}

@if (cargando)
{
    <p>UN SEGUNDO ..........</p>
}
else
{
    <div class="categorias">
        <h4>Categoria de la tienda en linea</h4>
        <ul class="category-list">
            <li>
                <button class="btn btn-link" @onclick="() => FiltrarCategoria(null)">Todos</button>
            </li>
            @foreach (var category in categorias)
            {
                <li>
                    <button class="btn btn-link" @onclick="() => FiltrarCategoria(category)">@category</button>
                </li>
            }
        </ul>
    </div>

    <div class="product-grid">
        @foreach (var product in productos.Where(MatchDeCategoria))
        {
            <div class="product-card">
                <img src="@product.image" alt="@product.title" width="100%" height="50%" />
                <div class="product-info">
                    <h5>@product.title</h5>
                    <p>@product.price.ToString("C")</p>
                </div>
            </div>
        }
    </div>
}


@code {
    public class Product
    {
        public int id { get; set; }
        public string title { get; set; }
        public decimal price { get; set; }
        public string description { get; set; }
        public string category { get; set; }
        public string image { get; set; }
    }
}
